body{
              margin: 0;
              padding: 0;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              
}

.slider{
              margin: 0 auto;
              width: 100%;
              height: auto;
              margin: 100px auto;
              padding: 0;
              overflow: hidden;
              position: relative;
              
             
}

.slides{
              width: 400%;
             transition: 3s ease;
              display: flex;
              width: calc(100% * 4);
}

.slides input, img-mobile {
              display: none;
}

.slide{
              width: 25%;
              position: relative;
              text-align: center;
              
}

.slide img{
              width: 100%;
              height: auto; 
} 

.manual-navegation, .navegation-auto{
              position: absolute;
              bottom: 5px;
              width: 100%;
              display: flex;
              justify-content: center;
}

.manual-btn, .navegation-auto div{
              border: 1px solid #fff;
              padding: 5px;
              border-radius: 50%;
              cursor: pointer;
              transition: 0.5s;
}

.manual-btn:not(:last-child), .navegation-auto div:not(:last-child){
              margin-right: 10px;
}

.manual-btn:hover, .navegation-auto div:hover{
              background-color: #fff;
}

/* Botões de seta */
.arrow {
              position: absolute;
              top: 60%;
              transform: translateY(-60%);
              background-color: rgba(0, 0, 0, 0);
              color: rgb(255, 255, 255);
              border: none;
              padding: 5px 7px;
              cursor: pointer;
              border-radius: 50%;
              z-index: 10;
              transition: opacity 0.3s ease;
          }
          
          .arrow.left {
              left: 1px;
          }
          
          .arrow.right {
              right: 1px;
          }

#radio1:checked ~ .first{
              margin-left: 0;
}

#radio2:checked ~ .first{
              margin-left: -25%;
}

#radio3:checked ~ .first{
              margin-left: -50%;
}

#radio4:checked ~ .first{
              margin-left: -75%;
}

#radio1:checked ~ .navegation-auto .auto-btn1, #radio2:checked ~ .navegation-auto .auto-btn2, #radio3:checked ~ .navegation-auto .auto-btn3, #radio4:checked ~ .navegation-auto .auto-btn4{
              background-color: #fff;
}

@media (min-width: 700px) {
.img-desktop {
              display: block;
 }
 .img-mobile {
               display: none;
                
}
}

 @media (max-width: 699px) {
.img-desktop {
               display: none;
 }
.img-mobile {
                  display: block;
}
}